* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary-color: #de3f53;
$secondary-color: rgb(1, 0, 24);

body {
    height: 100vh;
    background-color: $secondary-color;
    color: #fff;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;

    .error {
        color: red;
        border: red;
        margin-top: 0.5em;
    }

    .formSend {
        color: rgb(0, 168, 70);
        margin-top: 0.5em;
        text-align: center;
    }

}


.container {

    width: 750px;
    border: 1px solid $primary-color;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    .firstScreen {

        text-align: center;
       
        
        h1 {
            color: $primary-color; 
            font-weight: bold;
            margin-top: 1em;
        }

        div {
            padding: 0.5em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            label {
                display: flex;
                flex-direction: column;
                align-content: center;
                align-items: center;
            }
        
            input {
                color: red;
                margin-top: 1em;
                padding-left: 1em;
                width: 20em;
                height: 3em;

            }

    
            }
    
        .radio {
            display: flex;
            flex-direction: row;
            align-items: center;

            input {
                width: 20px;
                &:nth-child(1) {
                    margin: 0 1em 0 0;                    
                }

                &:nth-child(2) {
                    margin: 0 1em 0 1em;
                }
            }
        }

        .button {
            #btn {
    
                width: 12em;
                height: 4em;
                cursor: pointer;
                background-color: rgba(255, 255, 255, 0.685);
                color: $primary-color;
                font-weight: bold;
                font-size: 16px;
                border-radius: 5px;
                transition: ease-in-out 300ms;
    
                &:hover {
                    background-color: $primary-color;
                    color: #fff;
                }
    
            }
        }
        
    }
    
    .visible {
        display: block;
    }
    
    .hidden {
        display: none;
    }

    .secondScreen {
        text-align: center;

        h1 {
            margin: 3em;
        }

    }
    
}
