* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary-color: #ff5200;
$secondary-color: #190564;

body {
    height: 100vh;
    background-color: $secondary-color;
    
    color: #fff;
    font-size: 16px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;

    .error {
        color: #de3f53;
        margin-top: 0.5em;
    }

    .formSend {
        color: rgb(0, 168, 70);
        margin-top: 0.5em;
        text-align: center;
    }

}


.container {
    width: 300px;
    border: 1px solid $primary-color;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .logo {
        padding: 0.3em 0;
        background-color: $primary-color;
        color: #fff;
        height: 95.04px;
        border-radius: 10px 10px 0 0;
        position: relative;

        span {
            font-size: 2.8rem;
            position: absolute;
            top: 23%;
            left: 8%;
            font-family: "arial";
        }
        
        img {
            width: 172px;
            border-radius: 0 10px 0 0;
            position: absolute;
            top: 0%;
            right: 0%;
            clip-path: polygon(0% 0%, 100% 0, 100% 100%, 17% 100%);
        }
    }

    
    .firstScreen {

        text-align: center;
       
        h1 {
            color: $primary-color; 
            font-weight: bold;
            margin-top: 0.8em;
            margin-bottom: 0.5em;
            font-size: 1.5rem;
        }

        div {
            
            padding: 0.4em 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            label {
                display: flex;
                flex-direction: column;
                align-content: center;
                align-items: center;
                font-weight: bold;
            }
        
            input {
                color: $primary-color;
                border-radius: 10px;
                border: none;
                margin-top: 1em;
                padding-left: 1em;
                width: 20em;
                height: 3em;

            }
    
        }

        .timeline {
            display: flex;
            flex-direction: column;

            div {
                display: flex;
                flex-direction: row;
                
                label {
    
                    input {
                        width: 5em;
                        margin: 0 0.5em 0 0;
                    }
                }
            }

            
            .month {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 0 0.5em;
                

                input {
                    width: 20px;
                    margin: 0.5em 0;

                }
    
                span {
                    margin: 0 0 0 0.5em;
                }
            }

            
        }
    
        

        .button {
            padding: 0 1em;

            #btn {
                width: 12em;
                height: 4em;
                cursor: pointer;
                background-color: $primary-color;
                color: #fff;
                font-weight: bold;
                font-size: 16px;
                border: none;
                border-radius: 5px;
                transition: ease-in-out 400ms;
    
                &:hover {
                    background-color: rgba(255, 0, 0, 0.658);
                    color: #fff;
                    text-shadow: 1px 1px 1px $secondary-color;
                }
    
            }
        }
        
    }
    
    .visible {
        display: block;
    }
    
    .hidden {
        display: none;
    }

    .loading {
        background: #1a0564a2;
    }

    .secondScreen {
        text-align: center;
        width: 300px;
        height: 65vh;
        position: relative;

        h1 {
            margin: 2em 1em;
            font-size: 1.5rem;
        }

        .returnButton {
            width: 12em;
            height: 4em;
            margin-top: 3em;
            margin-bottom: 2em;
            cursor: pointer;
            background-color: $primary-color;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            transition: ease-in-out 400ms;

            &:hover {
                background-color: rgba(255, 0, 0, 0.658);
                color: #fff;
                text-shadow: 1px 1px 1px $secondary-color;
            }

        }

        .content_spinner {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -60%);
           
            .spinner {
                
                width: 72px;
                height: 72px;
                border-radius: 50%;
                border: 11.5px solid;
                border-color: rgba(255, 82, 0, 0.38);
                border-right-color: #ff5200;
                animation: spinner-loading 1s infinite linear;
        
                @keyframes spinner-loading {
        
                    to {
        
                       transform: rotate(1turn);
        
                    }  
        
                }     
                     
            }
            
        }

    }

            
}
