* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary-color: #ff5200;
$secondary-color: #190564;

body {
    height: 100vh;
    background-color: $secondary-color;
    color: #fff;
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    position: relative;

    .error {
        color: #de3f53;
        margin-top: 0.5em;
    }

    .formSend {
        color: rgb(0, 168, 70);
        margin-top: 0.5em;
        text-align: center;
    }

}


.container {

    border: 1px solid $primary-color;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    .firstScreen {

        text-align: center;
       
        
        h1 {
            color: $primary-color; 
            font-weight: bold;
            margin-top: 1em;
        }

        div {
            padding: 0.5em 1em;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            label {
                display: flex;
                flex-direction: column;
                align-content: center;
                align-items: center;
                font-weight: bold;
            }
        
            input {
                color: $primary-color;
                margin-top: 1em;
                padding-left: 1em;
                width: 20em;
                height: 3em;

            }
    
        }

        .timeline {
            display: flex;
            flex-direction: column;

            div {
                display: flex;
                flex-direction: row;
                
                label {
    
                    input {
                        width: 5em;
                        margin: 0 1em 0 0;
                    }
                }
            }


            .radio {
                display: flex;
                flex-direction: row;
                align-items: center;
    
                input {
                    width: 20px;
                    &:nth-child(1) {
                        margin: 0 1em 0 0;                    
                    }
    
                    &:nth-child(2) {
                        margin: 0 1em 0 1em;
                    }
                }
    
                span {
                    margin: 0 0 0 0.5em;
                }
            }
        }
    
        

        .button {
            #btn {
                width: 12em;
                height: 4em;
                cursor: pointer;
                background-color: $primary-color;
                color: #fff;
                font-weight: bold;
                font-size: 16px;
                border: none;
                border-radius: 5px;
                transition: ease-in-out 400ms;
    
                &:hover {
                    background-color: rgba(255, 0, 0, 0.658);
                    color: #fff;
                    text-shadow: 1px 1px 1px $secondary-color;
                }
    
            }
        }
        
    }
    
    .visible {
        display: block;
    }
    
    .hidden {
        display: none;
    }

    .secondScreen {
        text-align: center;

        h1 {
            margin: 2em 1em 1em 1em;
        }

        .returnButton {

            width: 12em;
            height: 4em;
            cursor: pointer;
            background-color: $primary-color;
            color: #fff;
            font-weight: bold;
            font-size: 16px;
            border: none;
            border-radius: 5px;
            transition: ease-in-out 400ms;

            &:hover {
                background-color: rgba(255, 0, 0, 0.658);
                color: #fff;
                text-shadow: 1px 1px 1px $secondary-color;
            }

        }

    }
    
}
